<div class="container" *ngIf="os$; else loading">
    <legend>Finalizar Os</legend><br>
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()" *ngIf="funcionarios$ | async as funcionario; else loading">
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="osNumero">OS:</label>
                <input type="text" readonly class="form-control" formControlName="id" id="osNumero">
            </div>
            <div class="form-group col-md-6">
                <label for="maquina">Maquina:</label>
                <input type="text" readonly class="form-control" formControlName="sigla" id="maquina">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-9">
                <label for="problema">Problema:</label>
                <textarea style="margin: 5px" type="text" id="problema" placeholder="Descreva o problema da maquina"
                    class="form-control" formControlName="problema"
                    [ngClass]="{ 'is-invalid': submitted && hasError('problema') }"></textarea>
                <div class="invalid-feedback">Descreva o problema da maquina </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-5">
                <label for="defeito">Defeito:</label>
                <input type="text" class="form-control" formControlName="defeito" id="defeito"
                [ngClass]="{ 'is-invalid': submitted && hasError('defeito') }">
                <div class="invalid-feedback">Descreva o Defeito da maquina </div>
            </div>

            <div class="col-sm-4">
                <label for="defeito">Responsavel:</label>
                <select style="margin: 5px" id="funcionario" class="form-control" formControlName="funcionario"
                    [compareWith]="comparar" [ngClass]="{ 'is-invalid': submitted && hasError('funcionario') }">                    <option *ngFor="let f of funcionario" [ngValue]="f">
                        {{ f.matricula }} - {{ f.pessoa.nome }}
                    </option>
                </select>
                
                <div class="invalid-feedback">Seleciona um responsavel </div>
            </div>
        </div>



        <div class="form-row">
            <div class="form-group col-md-9">
                <label for="reparo">Reparo:</label>
                <textarea style="margin: 5px" type="text" id="reparo" placeholder="Descreva o reparo da maquina"
                    class="form-control" formControlName="reparo"
                    [ngClass]="{ 'is-invalid': submitted && hasError('reparo') }"></textarea>
                <div class="invalid-feedback">Descreva o reparo da maquina </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-2">
                <label for="iniReparo">Inicio Reparo:</label>
                <input type="date" class="form-control" formControlName="iniReparoDate"  id="iniReparo"
                [ngClass]="{ 'is-invalid': submitted && hasError('iniReparoDate') }">
                <div class="invalid-feedback">Entre com a data inicio </div>
                <input type="time" class="form-control" formControlName="iniReparoTime" id="iniReparo"
                [ngClass]="{ 'is-invalid': submitted && hasError('iniReparoTime') }">
                <div class="invalid-feedback">Entre com a data inicio </div>
            </div>
            <div class="form-group col-md-2">
                <label for="iniReparo">Fim Reparo:</label>
                <input type="date" class="form-control" formControlName="fimReparoDate" id="iniReparo"
                [ngClass]="{ 'is-invalid': submitted && hasError('fimReparoDate') }">
                <div class="invalid-feedback">Entre com a data final </div>
                <input type="time" class="form-control" formControlName="fimReparoTime" id="iniReparo"
                [ngClass]="{ 'is-invalid': submitted && hasError('fimReparoTime') }">
                <div class="invalid-feedback">Entre com a data final </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-9">
                <button type="submit" class="btn btn-primary">Finalizar</button>
            </div>
        </div>
    </form>
</div>


<ng-template #loading>
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</ng-template>