<div class="container-fluid">
  <div class="row imac g-0">
    <div class="col-12 col-md-4">

    </div>
    <div class="col-12 col-md-4">
      <h3 style="padding: 20px;">Login</h3>
      <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="ususario" formControlName="usuario" placeholder="usuario">
          <label for="usuario">Usuario</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" id="senha" formControlName="senha" placeholder="Senha">
          <label for="senha">Senha</label>
        </div><br>
        <button type="submit" class="btn btn-primary">Entrar</button>
      </form>
    </div>
    <div class="col-12 col-md-4">

    </div>
  </div>
</div>


