
<div class="container" style=" padding-top: 5%; width: 25%;">

  <h3 style="padding: 20px;">Login</h3>
  <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div class="form-floating mb-3">
      <input 
      type="text" 
      class="form-control "  
      id="ususario" 
      formControlName="usuario"
      placeholder="usuario"
      [ngClass]="{ 'is-invalid': submitted && hasError('usuario')}">
      <div class="invalid-feedback">
        Digite o usuario
      </div>
      <label for="usuario">Usuario</label>
    </div>
    
   

    <div class="form-floating">
      <input 
      type="password" 
      class="form-control" 
      id="senha" 
      formControlName="senha" 
      placeholder="Senha"
      [ngClass]="{ 'is-invalid': submitted && hasError('senha')}">
      <div class="invalid-feedback">
        Digite a senha
      </div>

      <label for="senha">Senha</label>
    </div><br>
    <button type="submit" class="btn btn-primary">Entrar</button>
  </form>

</div>
