<div class="container" style=" padding-top: 50px; width: 60%;">

    <form *ngIf="(funcionario$ | async) as funcionario; else loading">

        <legend>Detalhe do funcionario</legend>


        <div class="row md-6">
            <label for="matricula" class="col-sm-3 col-form-label">Matricula:</label>
            <div class="col-sm-4">
                <input style="margin: 5px;" id="matricula" type="text" class="form-control-plaintext"
                    value="{{funcionario.matricula}}" readonly>
            </div>
        </div>

        <div class="row md-6">
            <label for="nome" class="col-sm-3 col-form-label">Nome:</label>
            <div class="col-sm-9">
                <input style="margin: 5px;" type="text" id="nome" class="form-control-plaintext"
                    value="{{funcionario.pessoa.nome}}" readonly>
            </div>
        </div>


        <div class="row md-6">
            <label for="data" class="col-sm-3 col-form-label">Data Adm:</label>
            <div class="col-sm-5">
                <input style="margin: 5px;" id="data" type="date" class="form-control-plaintext"
                    value="{{funcionario.dataAdm}}" readonly>
            </div>
        </div>

        <div class="row md-6">
            <label for="funcao" class="col-sm-3 col-form-label">Função</label>
            <div class="col-sm-4">
                <input style="margin: 5px;" id="funcao" type="text" class="form-control-plaintext"
                    value="{{funcionario.funcao}}" readonly>
            </div>
        </div>



        <button style="margin-top: 10px;" type="button" class="btn btn-outline-primary" (click)="atualizar()">Atualizar
            <i class="bi bi-pencil-square"></i></button>

    </form>


</div>


<ng-template #loading>
    <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</ng-template>