<div class="modal-header">
    <h4 class="modal-title pull-left">Novo Fabricante</h4>
    <button
      type="button"
      class="close btn-close pull-right"
      aria-label="Close"
      (click)="bsModalRef.hide()" 
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
      <legend>Cadastro de Fabricante</legend>
  
      <div class="row md-6">
        <label for="nome" class="col-sm-3 col-form-label">Nome:</label>
        <div class="col-sm-9">
          <input
            style="margin: 5px"
            type="text"
            class="form-control"
            formControlName="nome"
            [ngClass]="{ 'is-invalid': submitted && hasError('nome') }"
          />
          <div class="invalid-feedback">Digite o nome do Fabricante</div>
        </div>
      </div>
    
      <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
  </div>