<div class="container">
    <nav class="navbar navbar-light bg-light">
        <div class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">

            <button class="btn btn-outline-success my-2 my-sm-0">Procurar</button>
            <button class="btn btn-outline-success my-2 my-sm-0" [routerLink]="'cadastrar'">Novo</button>
        </div>
    </nav>

    <div class="container">

        <table class="table table-hover" *ngIf="(maquina$ | async) as maquina; else loading">
            <thead>
                <tr>
                    <th>Sigla</th>
                    <th>Fabricante</th>
                    <th>Setor</th>
                    <th>data</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let m of maquina">
                    <td>{{ m.sigla }}</td>
                    <td>{{ m.fabricante.nome.nome }}</td>
                    <td>{{ m.setor.nome }}</td>
                    <td>{{ m.dataCompra }}</td>
                    <td>
                        <span class="float-end">

                            <button class="btn btn-outline-warning mb-1 btn-sm" [routerLink]="'atualizar/' ">
                                Atualizar
                            </button>
                       
                            <button class="btn btn-outline-danger mb-1 btn-sm" >
                                Remover
                            </button>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

</div>

<ng-template #loading>
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</ng-template>