<div class="container">
  <legend>Funcionarios</legend><br>
  <nav class="navbar navbar-light bg-light">
    <div class="form-inline">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />

      <button class="btn btn-outline-success my-2 my-sm-0">Procurar</button>
      <button
        class="btn btn-outline-success my-2 my-sm-0"
        [routerLink]="'cadastrar'"
      >
        Novo <i class="bi bi-person-plus-fill"></i>
      </button>
    </div>
  </nav>
</div>

<div class="container">
  <table
    class="table table-hover"
    *ngIf="funcionarios$ | async as funcionario; else loading"
  >
    <thead>
      <tr>
        <th>Matricula</th>
        <th>Nome</th>
        <th>Função</th>
        <th>Manutentor</th>
        <th>DataAdm</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let f of funcionario">
        <td>{{ f.matricula }}</td>
        <td>{{ f.pessoa.nome }}</td>
        <td>{{ f.funcao.funcao }}</td>
        <td>{{ f.manutentor }}</td>
        <td>{{ f.dataAdm }}</td>
        <td>
          <span class="float-end">
            <button
              class="btn btn-outline-warning mb-1 btn-sm"
              [routerLink]="'atualizar/' + [f.matricula]"
            >
              Atualizar
            </button>

            <button class="btn btn-outline-danger mb-1 btn-sm" (click)="onDelete(f)">
              Remover
          </button>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #loading>
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</ng-template>
